.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 32px;
}

.featureButton {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featureSvg {
  height: 100px;
  width: 100px;
  color: var(--ifm-color-primary);
  margin-bottom: 20px;
}
